/* Estilos Gerais */
body {
  font-family: 'Arial', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: #000;
}

h1, h2 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

#h1-sobre {
  color: black;
}

/* Barra de pesquisa inicial */
.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
  z-index: 10;
  text-align: center;
}

.search-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(0, 0);
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Ícones na barra */
.search-bar .icons {
  margin-top: 10px;
}

.search-bar .icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.search-bar .icons a:hover {
  color: #007bff;
}

/* Estilos das seções */
section {
  padding: 100px 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0; /* Inicialmente escondido */
  transform: translateY(20px); /* Um pouco abaixo */
}

section.visible {
  opacity: 1; /* Mostra as seções ao rolar */
  transform: translateY(0); /* Remove a translação */
}

/* Formulário de Contato */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  padding: 10px;
  margin: 10px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Fundo estrelado */
.starry-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/Pagina-Pessoal/img/ceu-estrelado.jpeg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

#sobre {
  margin-top: 20%;
}
